
body{
    margin: 0;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
img{
    border-radius: 4px;
}




#first{
    background-color: #000000;
    height: 30px;
}
#second{
    height: 6px;  
    background-color: #C20017;
}



#header{
    background-color: #003366;
    padding: 5px 8px;
}
#header .container{
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 6px;
}
#header .logo img{
    position: absolute;
    top: 5%;
    left: -3%;
    width: 7%;
    height: 90px;
    border: 3px solid white;
}
#main-nav ul {
    display:flex;
}
#main-nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    color: white;
    display: block;
    padding:3px 10px;
    font-size: 15px;
}
#main-nav{
    margin-left: 35px;
}
#main-nav ul li:hover a{
    background-color: #40668C;
    border-radius: 2px;
}
#user-menu{
    position: absolute;
    right: -40px;
}
#user-menu ul li a{
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    color: white;
    display: block;
    padding: 5px 0px;
    font-size: 13px;
}
#user-menu ul li{
    display: inline-block;
    padding: 5px;
}
#user-menu ul li a i{
    font-size: 14px;
}
#user-menu .blue{
    border-radius: 4px;
    background-color: #1e3e5e;
    padding: 6px;
}
#user-menu ul li:hover .blue{
    background-color:#5E7E9E ;
}
#user-menu .red{
    border-radius: 4px;
    background-color: #C20017;
    padding:  6px;
}
#user-menu ul li:hover .red{
    background-color: #DB4052;
}



#second-nav{  
    border-bottom: 1px solid rgba(128, 128, 128, 0.37);
    padding: 10px 0 0px 80px;
}
#second-nav ul li{
    display: inline-block;    
}
#second-nav .first a{
    color: #C20017;
    text-decoration: none;
}
#second-nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #003366;
    font-weight: 750;
    padding-right: 5px;
}
#second-nav ul li:hover a{
    text-decoration: underline #003366;
}



.main-article{
    margin: 25px 0 0 35px;
    width: 75%;
    border-right: 1px solid rgba(128, 128, 128, 0.234);
}
.main-article .image img{
  width: 100%;
}
.main-article .heading h2{
    margin: 5px 0 0 26px;
    font-size: 43px;
    font-weight: 800;
    line-height: 52px;
}
.main-article .heading h5{
    margin: 25px 0 0 26px;
    font-size: 15px;
}
.main-article .heading h2 a,.main-article .heading h5 a{
    color: #003366;
    text-decoration: none;
}
.main-article .heading h2:hover a{
    text-decoration: underline;
}
.main-article .heading h5:hover a{
    text-decoration: underline;
}

.main-article .page{
    margin: 20px 0 0px 0 ;
}
.main-article  .page img{
    margin-bottom: 8px;
}

.main-article .page a{
    color: #003366;
    font-weight: bolder;
    font-size: 22px;
    text-decoration: none;
}
.main-article .about p:hover a{
    text-decoration: underline;
}
.main-article span{
    color: #C3041B;
}



#middle-ad{
    /* display: flex; */
    margin:25px -20px;
}
#middle-ad .image img{
    width: 100%;
}
#middle-ad .ad{ 
    height: 100px;
    width: 100%;
    background-color: #05162C;
    border-radius: 3px;
    color: white;
    padding: 15px 25px;
    font-size: 11px;
}
#middle-ad .box{
    display: flex;
    border: 1px solid rgba(128, 128, 128, 0.286);
    padding: 10px;
   box-shadow: 0px 3px 5px grey;
    border-radius: 3px;
    background-color: #fff;
}
#middle-ad .box .image{
    width: 40%;
}
#middle-ad .box .about{
    width: 60%;
}
#middle-ad span{
    color: #C3041B;
    font-size: x-small;
    font-weight: 800;
}
#middle-ad a{
    text-decoration: none;
}
#middle-ad .box .about a h5{
    color: #003366;
    padding-left: 10px;
    font-size: 14px;
}



#cartoon .container div{
    display: flex;
    margin-top: 15px;
}
#cartoon h5{
    color: #4B78A7;
}
#cartoon a{
    color: #003366;
    font-size: 20px;
    text-decoration: none;
}
#cartoon .about{
    margin:30px 20px;
    width: 80%;
}
#cartoon .about h1:hover{
    text-decoration: underline;
}
#cartoon .about h5:hover{
    text-decoration: underline;
}




#picture{
    margin: 20px 0px 15px 0px ;
}
#picture .container{
    display: flex;
    flex-wrap: wrap;
}
#picture .image{
    width: 12%;
}
#picture .image  img{
    padding: 7px;
    border-radius: 13px;
    width: 100%;
}
#picture .container img:hover {
    border: 4px solid transparent;
    border-radius: 6px;
    background: linear-gradient(white,#fff) padding-box,linear-gradient(154.51deg,#ff9c00 0,#ff00b0 100%) border-box;
 
}




#below-article {
    margin:20px 0;
}

/* #below-article .left{
    width: 23%;
    margin-right: 25px;
} */
#below-article .wrapper h4 {
    margin-bottom: 15px;    
}
#below-article h2 a{
    font-size: 20px;
}
#below-article .wrapper img{
    width: 90%;
}
#below-article .wrapper h4 a{
    color: black; 
}
#below-article .about{
    display: flex;
}
#below-article .about h5{
    width: 60%;
    font-size: 14px;
    margin-right: 15px;
}
#below-article .wrapper a{
    color: #003366; 
    text-decoration: none;
}
#below-article .wrapper h2{
    margin: 10px 0;
    line-height: 0.7;
}
#below-article .wrapper h2:hover a{
    text-decoration: underline;
}
#below-article .wrapper h5:hover a{
    text-decoration: underline;
}





#footer{
    margin-top: 20px;
    background-color: #003366;
}
#footer .about a{
    color: white;
    text-transform: capitalize;
    font-size: 15px;
    text-decoration: none;
}
#footer .about ul{
    margin-left: -30px;
}
#footer .wrapper{
   border-top: 1px solid rgba(128, 128, 128, 0.496);
}
#footer:hover .about a{
    color: #9DC6E5;
}
#footer .about:hover a{
    color: white;
}
#footer .social-icons{
    display: flex;
    float: left;
    margin:10px 490px;
}
#footer .social-icons a{
    padding: 0 3px;
}
#footer .social-icons a i{
    background-color: #011c37;
    border-radius: 20px;
    padding: 7px;
    font-size: 15px;
}
#footer .social-icons .fb a:hover i{
    background-color: #3B5998;
}
#footer .social-icons .tt a:hover i{
    background-color: #1DA1F2;
}
#footer .social-icons .inst a:hover i{
    background: linear-gradient(#7749BC,#D74173,#FDC064);
}
#footer .social-icons .yt a:hover i{
    background-color: #E12828;
}
#footer .social-icons .flip a:hover i{
    background-color: #E12828;
}
#footer .social-icons .in a:hover i{
    background-color: #0077B5;
}
#footer .social-icons .slack a:hover i{
    background-color: #481A4D;
}
#footer .social-icons .rss a:hover i{
    background-color: #F26522;
}
#footer .social-icons .msg a:hover i{
    background-color: #808080;
}
#footer .social-icons .spot a:hover i{
    background-color: #1DB954;
}
#footer .social-icons .heart a:hover i{
    background-color: #C6002B;
}
#footer .info{
    display: flex;
    float: left;
    margin: 20px -20px;
}
#footer .info p{
    font-size: 12px;
    width: 92%;
    color: #9DC6E5;
    line-height: 22px;
}
#footer a{
    color: white;
}
#footer .info img{
    margin:5px 17px;
    border-radius: 0;
}



@media (min-width:1200px) {
    .container{
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 1rem;
    }
    /* .main-article{
        margin: 0 auto;
    } */
}


@media (max-width:1200px) and (min-width:992px){
    .container{
        max-width: 960px;
        margin: 0 auto;
        padding: 0 2rem;
    }
    .main-article{
        margin: 0 auto;
    }
}