body{
    overflow-x: hidden;
}
#banner{
    width: 900px;
}
.banner-view .banner-caption {
    position: absolute;
    top: 25%;
    width: 65%;
}



/* header section */
header{
    min-height: 60px;
}
header .primary{
    position: relative;
}
header nav{
    display: none;
}
header .hamburger,input[type="checkbox"]{
    position: absolute;
    right: 3%;
}
header .hamburger {
    display: block;
   
}
header input[type="checkbox"]{
    display: block;
    opacity: 0;
}
header input[type="checkbox"]:checked ~nav{
    display: block;
    position: absolute;
    z-index: 10;
    top: 55px;
    left: 0px;  
    width: 94%;
    margin: 0 50px;
   background-color: black;
}
header input[type="checkbox"]:checked~nav ul{
   height: 90vh;
   width: 80%;
   background-color: #151515;
   flex-direction: column; 
   align-items: start; 
   margin-left: 50px;
}

.primary{
    padding: 0 5rem;
}

#intro .primary{
    flex-direction: column;
    width: 960px;
}
#intro .primary .side-image{
    margin-left: 30px;
}
#intro .primary .about{
    margin-top: 20px;
}


#content-bar .primary{
    display: grid;
    width: 900px;
    grid-template-columns: repeat(2,1fr);
}



#gallery{
    width: 1000px;
}
#gallery .primary{
    width: 80%;
}

#quote{
    height: 600px;
    width: 1060px;
}
#quote .about{
    flex-direction: row;
    position: absolute;
    top: 70%;
    left: 4%;
}
#quote .about h3{
    margin:40px 10px;
}
#quote .about h5{
    margin:-30px 10px;
}

#pc {
   width: 1000px;
}
#pc .pc-img {
    padding: 60px 60px 0 30px;
    margin: 10px ;
}
#pc h1{
    padding: 0 0  10px 10px;
}

#article .primary{
    flex-direction: column;
    width: 960px;
}
#article .primary .left p{
    width: 60%;
}
#article .right{
    padding:0 20px;
}


footer{
    width: 1000px;
}
footer .about{
    margin-left: 100px;
}


#end-note{
    width: 1000px;
}